body{
    background-image: url(volley\ court.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.back{
    background-color: skyblue;
    width: 75rem;
    margin-right: 10.9rem;
}
.e1{
    margin-left: 4cm;
    position: absolute;
    font-size: xx-large;
    font-weight: bold ;
    color: skyblue;
    margin-top: 1cm;
}
.e2{
    margin-left: 14cm;
    position: absolute;
    font-size: xx-large;
    font-weight: bold ;
    margin-top: 2cm;
    color: skyblue;
    margin-top: 1cm;
}
.e3{
    margin-left: 25cm;
    position: absolute;
    font-size: xx-large;
    font-weight: bold ;
    margin-top: 1cm;
    color: orangered;
}
table{
    background-color: rgb( 0,0,0,0.6);
    width: 75rem;
    height: 40rem;
    margin-left: 4rem;
    margin-top: -1.15rem;
}
.img1{
    height: 4rem;
    width: 4rem;
    background-image: url(pv.webp);
    background-size: cover;
    position: absolute;
    margin-left: 9rem;
    margin-top: 6rem;
}
.name1{
    margin-top: 4rem;
    margin-left: 0.5rem;
    color: white;
}
.img2{
    height: 4rem;
    width: 4rem;
    background-image: url(jimmy.jpeg);
    background-size: cover;
    position: absolute;
    margin-left: 9rem;
    margin-top: 17rem;
}
.name2{
    margin-top: 4rem;
    margin-left: 0.5rem;
    color: white;
}
.img3{
    height: 4rem;
    width: 4rem;
    background-image: url(amit.webp);
    background-size: cover;
    position: absolute;
    margin-left: 20rem;
    margin-top: 6rem;
}
.name3{
    margin-top: 4rem;
    margin-left: 0.5rem;
    color: white;
}
.img4{
    height: 4rem;
    width: 4rem;
    background-image: url(minimol.jpeg);
    background-size: cover;
    position: absolute;
    margin-left: 20rem;
    margin-top: 17rem;
}
.name4{
    margin-top: 4rem;
    margin-left: 0.9rem;
    color: white;
}
.img5{
    height: 4rem;
    width: 4rem;
    background-image: url(masoud.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 50rem;
    margin-top: 15rem;
}
.name5{
    margin-top: 4rem;
    margin-right: 10rem;
    color: white;
}
.img6{
    height: 4rem;
    width: 4rem;
    background-image: url(ting.png);
    background-size: cover;
    position: absolute;
    margin-left: 45rem;
    margin-top: 6rem;
}
.name6{
    margin-top: 4rem;
    margin-left: 0.5rem;
    color: white;
}
.img7{
    height: 4rem;
    width: 4rem;
    background-image: url(tu.jpg);
    background-size: cover;
    position: absolute;
    margin-left: 55rem;
    margin-top: 6rem;
}
.name7{
    margin-top: 4rem;
    margin-left: 0.1rem;
    color: white;
}
.img8{
    height: 4rem;
    width: 4rem;
    background-image: url(saeid.jpeg);
    background-size: cover;
    position: absolute;
    margin-left: 40rem;
    margin-top: 15rem;
}
.name8{
    margin-top: 4rem;
    margin-left: 0.4rem;
    color: white;
}
